@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('../../public/fonts/Yekan.css');

* {
    font-family: 'Yekan' !important;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #888; */
    --tw-text-opacity: 1;
    background: rgb(34 197 94 / var(--tw-text-opacity));
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }